<!-- call base layout -->
{{template "base" .}}

{{define "title"}}
Home
{{end}}

{{define "description"}}
Sono la meta description
{{end}}

{{define "body"}}
<div class="container">
	<h1>{{.title}}</h1>
	<p>{{.description}}</p>
</div>
{{end}}

{{define "scripts"}}
<script src="/js/index.js"></script>
{{end}}
